<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongServlet</servlet-name>
        <servlet-class>controller.SongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaSiServlet</servlet-name>
        <servlet-class>controller.CaSiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaSiPlayerServlet</servlet-name>
        <servlet-class>controller.CaSiPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgheSiServlet</servlet-name>
        <servlet-class>controller.NgheSiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>controller.TypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaturalServlet</servlet-name>
        <servlet-class>controller.NaturalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateServlet</servlet-name>
        <servlet-class>controller.PrivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySongServlet</servlet-name>
        <servlet-class>controller.MySongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongUpServlet</servlet-name>
        <servlet-class>controller.SongUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>controller.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDelServlet</servlet-name>
        <servlet-class>controller.ListDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSingerServlet</servlet-name>
        <servlet-class>controller.AddSingerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddListServlet</servlet-name>
        <servlet-class>controller.AddListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopServlet</servlet-name>
        <servlet-class>controller.TopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaGia</servlet-name>
        <servlet-class>controller.XoaGia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongServlet</servlet-name>
        <url-pattern>/song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaSiServlet</servlet-name>
        <url-pattern>/singer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaSiPlayerServlet</servlet-name>
        <url-pattern>/casiplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgheSiServlet</servlet-name>
        <url-pattern>/nghesi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaturalServlet</servlet-name>
        <url-pattern>/natural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateServlet</servlet-name>
        <url-pattern>/private</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySongServlet</servlet-name>
        <url-pattern>/songup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongUpServlet</servlet-name>
        <url-pattern>/upsong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDelServlet</servlet-name>
        <url-pattern>/listdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSingerServlet</servlet-name>
        <url-pattern>/addsinger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListServlet</servlet-name>
        <url-pattern>/list_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopServlet</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaGia</servlet-name>
        <url-pattern>/Xoa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
